<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>mail</title>
</head>
<body>
  <div class="container p-3" style="background-color: rgb(76 76 76 / 92%); color: white; border: 1px solid rgb(76 76 76 ); border-radius: 20px; padding-left: 300px;">
  <h1 style="text-align: center; margin-left: -300px; ">Hello shashank ! </h1> <br>
  <h3>{{ name }} wants to hire you </h3> <br>
  <h3>detais of {{ name }} is .... </h3> <br>
  <h3>E-mail id :{{mail}} </h3> <br>
  <h3>Subject : {{subject}} </h3> <br>
  <h2>{{message}} </h2>


</div>
</body>
</html>
