 {% load static %}
 {% load crispy_forms_tags %}
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="  {% static 'assets/css/s.css' %} ">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="POST">
        {% csrf_token %}
      {{form|crispy}}
      
      <button class="btn btn-primary " value="submit">submit </button>
      <a href="/signup" class="btn btn-primary" value="submit">signup </a>
      <a href="accounts/google/login" class="btn btn-primary" value="submit">google </a>
      </form>
      
</body>
</html>